[flake8]
; Maximum Line Length
max-line-length = 88

; Specific Error/Warning Codes to Ignore
; E501: line too long
; W503: line break before binary operator
; W504: line break after binary operator
; E203: whitespace before ':'
; F401: module imported but unused (only used for development to reduce noise)
; F841: local variable assigned but never used (only used for development to reduce noise)
ignore = E501, W503, W504, E203

; Files/Directories to Exclude
exclude =
    .git,
    __pycache__,
    .venv,
    .pytest_cache,
    .vscode,
    .github,
    .notcommit,
    data/,
    docs/,
    migrations/,
    node_modules/,
    previews/,
    build/,
    dist/,
    *.egg-info,

; McCabe Complexity Threshold
max-complexity = 12

; Per-file Ignoring
per-file-ignores =
    tests/*.py:F401, E402
    tests/models/*.py:F401
    tests/routes/*.py:F401