# .flake8

[flake8]
# Set the maximum line length
max-line-length = 88

# A list of error/warning codes to ignore.
# E501: Line too long
# -- (only used for development to reduce noise; fix in production) --
# F401: module imported but unused
# F841: local variable assigned but never used
extend-ignore = E501

# A list of files and directories to exclude from linting.
exclude =
    .git,
    __pycache__,
    venv*,
    .venv*,
    .pytest_cache,
    .notcommit,
    migrations/,
    node_modules/,
    build/,
    dist/,
    *.egg-info,

# Set the McCabe cyclomatic complexity threshold.
max-complexity = 12
