# Dependency
coverage_html_report/

# Minified files
apps/desktop/src/core/static/js/htmx.min.js
apps/desktop/src/core/static/js/bundle.js
apps/desktop/src/core/static/css/output.css

# HTML files
apps/desktop/src/core/templates/**/*.html

# Git and version control
package-lock.json
CODEOWNERS
uv.lock
