<!-- src/watchlist/templates/_changelog.html -->

<!-- v0.3.0 -->
<li>
  <div class="timeline-middle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary">
      <path fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd" />
    </svg>
  </div>
  <div class="timeline-start md:text-end mb-10">
    <time class="font-mono italic text-sm opacity-80">25 May 2025</time>
    <div class="text-lg font-black">v0.3.0</div>
    <div class="text-sm">
      You can now back up and restore your watchlist from the Settings page. Error messages and feedback are clearer,
      and the app is more reliable overall. Navigation and feedback are smoother, and there are lots of improvements
      under the hood to make things work better and easier. There were also improvements made to the setup and run
      scripts, making it easier to get started with the app.
    </div>
  </div>
  <hr />
</li>
<!-- v0.2.1 -->
<li>
  <hr />
  <div class="timeline-middle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
      <path fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd" />
    </svg>
  </div>
  <div class="timeline-end mb-10">
    <time class="font-mono italic text-sm opacity-80">09 May 2025</time>
    <div class="text-lg font-black">v0.2.1</div>
    <div class="text-sm">
      Added a fully functional feedback form with validation and submission logic. Integrated feedback
      submission
      to a public
      Google Sheets. Added feedback status display and loading indicators. Improved feedback form layout and
      accessibility. Added feedback submission confirmation message. Added search functionality to the watchlist
      page. Search movies and TV shows by title. Added shortcut to focus on the search input field. Added a
      quick
      clear
      button to clear the search input.
    </div>
  </div>
  <hr />
</li>
<!-- v0.2.0 -->
<li>
  <hr />
  <div class="timeline-middle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
      <path fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd" />
    </svg>
  </div>
  <div class="timeline-start md:text-end mb-10">
    <time class="font-mono italic text-sm opacity-80">30 Apr 2025</time>
    <div class="text-lg font-black">v0.2.0</div>
    <div class="text-sm">
      Added "Date Watched" field and display logic (Month/Day grouping). Added comprehensive Filtering (Status,
      Type, Year Checkboxes, Rating Range) and Sorting (Date Watched/Added, Title, Year, Rating) via dropdown
      controls. Sorting includes Asc/Desc toggle and places items without data last. Implemented dynamic list
      updates using HTMX and Out-of-Band swaps for controls UI refresh. Added About page with tabs (About,
      Changelog, Feedback). Fixed page reload issues when filters/sorts are active. Fixed sort logic
      (case-insensitive title, nulls last). Fixed filter apply/reset button behavior and alignment issues.
      Refactored code for better readability and maintainability.
    </div>
  </div>
  <hr />
</li>
<!-- No more version changelogs -->
<li>
  <hr />
  <div class="timeline-middle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
      <path fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
        clip-rule="evenodd" />
    </svg>
  </div>
  <div class="timeline-end mb-10">
    <div class="text-lg font-black">No more version changelogs</div>
    <div class="text-sm">
      Only the latest two major versions will have changelogs listed here. For older versions, please refer to the
      <a href="https://github.com/Exonymos/ShowTrackr-Web/blob/main/docs/changelog.md" class="link link-primary">
        GitHub Changelog
      </a>.
    </div>
</li>